<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Voting Map Demo</title>
  </head>
  <body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/maps/modules/map.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/countries/in/in-all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.4.4/proj4.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../css/index.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/totalVotesBarChart.css" type="text/css" media="all" />

    <div class="container-fluid">
      <div class="row">
        <!-- partial -->
        <div class="content-wrapper dashboard">
          <h3 class="page-heading mb-4">Dashboard</h3>
          <div class="statistics-row row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
              <div class="card card-statistics">
                <div class="card-body toggle-vote-modal btn-primary-outline buy-medicine" data-toggle="modal" data-target="#voteModalCenter">
                  <div class="clearfix">
                    <div class="float-left">
                      <h4 class="text-primary">
                        <i class="fa fa-users highlight-icon" aria-hidden="true"></i>
                      </h4>
                    </div>
                    <div class="float-right buy-label">
                      <h4 class="card-text text-primary">
                        Vote
                      </h4>
                      <!-- <button type="button" class="btn btn-outline-primary bold-text card-text">Buy Medicine</button> -->
                    </div>
                  </div>
                  <p class="text-muted">
                    <i class="fa fa-info-circle mr-1" aria-hidden="true"></i> Cast A Vote
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <h4 class="text-danger">
                        <i class="fa fa-bar-chart-o highlight-icon" aria-hidden="true"></i>
                      </h4>
                    </div>
                    <div class="float-right">
                      <p class="card-text text-dark">Votes Casted</p>
                      <h4 class="bold-text total-sales-val pull-right votes-casted-val">29745</h4>
                    </div>
                  </div>
                  <p class="text-muted">
                    <i class="fa fa-info-circle mr-1" aria-hidden="true"></i> Total No. Of Votes Casted
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <h4 class="text-success">
                        <i class="fa fa-trophy highlight-icon" aria-hidden="true"></i>
                      </h4>
                    </div>
                    <div class="float-right">
                      <p class="card-text text-dark">Winning</p>
                      <h4 class="bold-text">Congress</h4>
                    </div>
                  </div>
                  <p class="text-muted">
                    <i class="fa fa-info-circle mr-1" aria-hidden="true"></i> Party that is winning the election
                  </p>
                </div>
              </div>
            </div>
            <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4"> -->
            <!--   <div class="card card-statistics"> -->
            <!--     <div class="card-body"> -->
            <!--       <div class="clearfix"> -->
            <!--         <div class="float-left"> -->
            <!--           <h4 class="text-warning"> -->
            <!--             <i class="fa fa-gavel highlight-icon" aria-hidden="true"></i> -->
            <!--           </h4> -->
            <!--         </div> -->
            <!--         <div class="float-right"> -->
            <!--           <p class="card-text text-dark">Challenge</p> -->
            <!--           <h4 class="bold-text">$65656</h4> -->
            <!--         </div> -->
            <!--       </div> -->
            <!--       <p class="text-muted"> -->
            <!--         <i class="fa fa-info-circle mr-1" aria-hidden="true"></i> Total Revenue Generated in the Past 30 -->
            <!--         Days -->
            <!--       </p> -->
            <!--     </div> -->
            <!--   </div> -->
            <!-- </div> -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
              <div class="card card-statistics">
                <div class="card-body btn-warning-outline buy-medicine">
                  <div class="clearfix">
                    <div class="float-left">
                      <h4 class="text-warning">
                        <i class="fa fa-gavel highlight-icon" aria-hidden="true"></i>
                      </h4>
                    </div>
                    <div class="float-right buy-label">
                      <h4 class="card-text text-warning">
                        Challenge System
                      </h4>
                      <!-- <button type="button" class="btn btn-outline-primary bold-text card-text">Buy Medicine</button> -->
                    </div>
                  </div>
                  <p class="text-muted">
                    <i class="fa fa-info-circle mr-1" aria-hidden="true"></i> Challenge Our Automated System
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">State Wise Result</h5>
                  <div class="row">
                    <div id="container"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Party Wise Result</h5>
                  <div class="custom-legend-container w-75 mx-auto">
                    <div id="totalVotesBarChart"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>vote}}
    <script src="../js/index.js"></script>
    <script src="../js/totalVotesMap.js"></script>
    <script src="../js/totalVotesBarChart.js"></script>
  </body>
</html>
