<div class="container">
  <form class="vote-container">
    <div class="input-container">
      <input id="congress" type="radio" name="party" value="congress" />
      <label for="congress">Congress</label>
    </div>
    <div class="input-container">
      <input id="bjp" type="radio" name="party" value="bjp" />
      <label for="bjp">BJP</label>
    </div>
    <div class="input-container">
      <input id="aap" type="radio" name="party" value="aap" />
      <label for="aap">AAP</label>
    </div>
    <input class="submit-vote" type="submit" name="Submit"/>
  </form>
</div>
<script src="../js/index.js"></script>
<script src="../js/vote.js"></script>
<script>
  const ethid = {{ethid}};
</script>
